@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#e66465, #9198e5);

}

.page
{
    width: 550px;
    max-width: 97vw;
    position: absolute;
    max-height: 100vh;
    border-radius: 4rem;    
    background: #424752;
    margin: 4rem;
    overflow: hidden;
}
.container
{
    padding: 10%;
}

.image 
{
    width: 100%;
    display: flex;
    justify-content: left;
}

.profile{
    width: 10rem;
    height: 10rem;
    border: 6px solid #facebb;
    border-radius: 50%;
    background-color: rgba(250, 235, 215, 0.1)
}

.nombre
{
    
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #ebe1dc;
    margin:  20px 0 20px 0;

}

.description
{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin:  20px 0 20px 0;
    color: #bdada9;
}

.email
{
    width: 50%;
    padding: 15px 30px;
    background-color: rgba(115, 119, 127, 0.5);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 30px;
    transition: all 300ms;
}

.iconno svg
{
    position: relative;
    top: 5px;
    width: 25px;
    color: #facebb;
}

.email:hover {
    scale: 1.1;
    background-color: rgb(115, 119, 127);
}

.email a
{
    color: #facebb;
    text-decoration: none;
    font-weight: 580;
    font-size: 1rem;
}

.social
{
    padding: 1rem;
    display: flex;
    justify-content: left;
    gap: 20px;
    background: #3c414d;
    padding: 10%;
}

.box
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(115, 119, 127, 0.5);
    transition: all 300ms;
    
}

.box:hover{
    scale: 1.2;
    background-color: rgb(115, 119, 127);
}

.icon {
    fill: #facebb;
}


@media (max-width: 497px) {

    .profile{
        width: 8rem;
        height: 8rem;
    }

    .nombre
    {
        font-size: 2.5rem;
    }

    .description
    {
        font-size: 17px;
    }

    .email
    {
        width: 60%;
        padding: 10px 20px;
    }
    
}

@media (max-width: 370px ) {
    .email
    {
        width: 70%;
        padding: paddin 5px 5px;
    }
}